<div class="content-wrapper px-2 py-2">
  <div id="wrapper" class="m-2">
    <div class="w1">
      <main id="mt-main">
        <div class="container">
          <div id="row">
            <div class="co-12">
              <h1>編輯繪本</h1>
                <%= render partial: 'form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
