<main id="mt-main">
    <!-- product start here -->
    <div id="product-masonry">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <%# <ul id="product-filter">
                        <li class="active"><a data-filter="all">AlL</a></li>
                        <li><a data-filter="1">SoFaS</a></li>
                        <li><a data-filter="2">ChAIrS</a></li>
                        <li><a data-filter="3">aRmCHaIR</a></li>
                        <li class="left"><a href="#" id="product-shuffle"><i class="fa fa-random" aria-hidden="true"></i> shuffle</a></li>
                    </ul> %>
                    <!-- F Promo Box style2 of the Page -->
                    <%= render partial: 'promo_box' %>
                    <!-- F Promo Box of the Page end -->
                    <ul class="masonry-list">
                      <% @books.each do |book| %>
                        <li class="filtr-item fil1" data-category="1">
                            <!-- mt product start here -->
                            <div class="mt-product1 large">
                                <!-- box start here -->
                                <div class="box">
                                    <a href="<%= book_path(id: book.id ) %>" target="_blank">
                                       <img alt="image description" src="<%= book.cover_image %>">
                                    </a>
                                    <%# <ul class="mt-stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-o"></i></li>
                                    </ul> %>
                                    <%# <ul class="links">
                                        <li><a href="#"><i class="icon-handbag"></i></a></li>
                                        <li><a href="#"><i class="icon-heart"></i></a></li>
                                        <li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
                                    </ul> %>
                                </div><!-- box end here -->
                                <!-- txt end here -->
                                <div class="txt">
                                    <strong class="title"><%= book.title %></strong>
                                    <%# <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span> %>
                                </div><!-- txt end here -->
                            </div><!-- mt product1 end here -->
                        </li>
                      <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- product end here -->
</main>
