<aside class="f-promo-box style2 wow fadeInUp" data-wow-delay="0.4s">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-3">
				<!-- F Widget Item of the Page -->
				<div class="f-widget-item">
					<span class="widget-icon"><i class="fas fa-paw"></i></span>
					<div class="txt-holder">
						<h1 class="f-promo-box-heading">小象糯米故事機</h1>
						<p>MIT原創感應式繪本</p>
					</div>
				</div>
				<!-- F Widget Item of the Page end -->
			</div>
			<div class="col-xs-12 col-sm-3">
				<!-- F Widget Item of the Page -->
				<div class="f-widget-item border">
					<span class="widget-icon"><i class="fas fa-life-ring"></i></span>
					<div class="txt-holder">
						<h1 class="f-promo-box-heading">爸媽救星</h1>
						<p>一起來說故事給你聽！</p>
					</div>
				</div>
				<!-- F Widget Item of the Page end -->
			</div>
			<div class="col-xs-12 col-sm-3">
				<!-- F Widget Item of the Page -->
				<div class="f-widget-item border">
					<span class="widget-icon"><i class="fas fa-microchip"></i></span>
					<div class="txt-holder">
						<h1 class="f-promo-box-heading">超薄感應晶片</h1>
						<p>隱身於書中，輕薄彷彿不存在</p>
					</div>
				</div>
				<!-- F Widget Item of the Page end -->
			</div>
			<div class="col-xs-12 col-sm-3">
				<!-- F Widget Item of the Page -->
				<div class="f-widget-item border">
					<span class="widget-icon"><i class="fas fa-volume-up"></i></span>
					<div class="txt-holder">
						<h1 class="f-promo-box-heading">匯入語音功能</h1>
						<p>用自己的聲音講故事 </p>
					</div>
				</div>
				<!-- F Widget Item of the Page end -->
			</div>
		</div>
	</div>
</aside>
