<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">

		<!-- W1 start here -->
		<div class="w1">
			<!-- mt side menu start here -->
			<div class="mt-side-menu">
				<!-- mt holder start here -->
				<div class="mt-holder">
					<a href="#" class="side-close"><span></span><span></span></a>
					<strong class="mt-side-title">MY ACCOUNT</strong>
					<!-- mt side widget start here -->
					<div class="mt-side-widget">
						<header>
							<span class="mt-side-subtitle">SIGN IN</span>
							<p>Welcome back! Sign in to Your Account</p>
						</header>
						<form action="#">
							<fieldset>
								<input type="text" placeholder="Username or email address" class="input">
								<input type="password" placeholder="Password" class="input">
								<div class="box">
									<span class="left"><input class="checkbox" type="checkbox" id="check1"><label for="check1">Remember Me</label></span>
									<a href="#" class="help">Help?</a>
								</div>
								<button type="submit" class="btn-type1">Login</button>
							</fieldset>
						</form>
					</div>
					<!-- mt side widget end here -->
					<div class="or-divider"><span class="txt">or</span></div>
					<!-- mt side widget start here -->
					<div class="mt-side-widget">
						<header>
							<span class="mt-side-subtitle">CREATE NEW ACCOUNT</span>
							<p>Create your very own account</p>
						</header>
						<form action="#">
							<fieldset>
								<input type="text" placeholder="Username or email address" class="input">
								<button type="submit" class="btn-type1">Register</button>
							</fieldset>
						</form>
					</div>
					<!-- mt side widget end here -->
				</div>
				<!-- mt holder end here -->
			</div><!-- mt side menu end here -->
			<!-- mt search popup start here -->
			<div class="mt-search-popup">
				<div class="mt-holder">
					<a href="#" class="search-close"><span></span><span></span></a>
					<div class="mt-frame">
						<form action="#">
							<fieldset>
								<input type="text" placeholder="Search...">
								<span class="icon-microphone"></span>
								<button class="icon-magnifier" type="submit"></button>
							</fieldset>
						</form>
					</div>
				</div>
			</div><!-- mt search popup end here -->
			<!-- mt main slider start here -->
			<div class="mt-main-slider">
				<!-- slider banner-slider start here -->
				<div class="slider banner-slider">
					<!-- holder start here -->
					<div class="holder text-center" style="background-image: url(http://placehold.it/1920x585);">
						<div class="container">
							<div class="row">
								<%# <div class="col-12">
									<div class="text">
										<strong class="title">FURNITURE DESIGNS IDEAS</strong>
										<h1>LIGHTING</h1>
										<h2>PENDANT LAMPS</h2>
										<div class="txt">
											<p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
										</div>
										<a href="product-detail.html" class="shop">shop now</a>
									</div>
								</div> %>
							</div>
						</div>
					</div>
					<!-- holder end here -->

					<!-- holder start here -->
					<div class="holder text-center" style="background-image: url(http://placehold.it/1920x585);">
						<div class="container">
							<div class="row">
								<%# <div class="col-12">
									<div class="text right">
										<strong class="title">FURNITURE DESIGNS IDEAS</strong>
										<h1>LOUNGE CHAIRS</h1>
										<h2>SW DAYBED</h2>
										<div class="txt">
											<p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
										</div>
										<a href="product-detail.html" class="shop">shop now</a>
									</div>
								</div> %>
							</div>
						</div>
					</div>
					<!-- holder end here -->
					
					<!-- holder start here -->
					<div class="holder text-center" style="background-image: url(http://placehold.it/1920x585);">
						<div class="container">
							<div class="row">
								<%# <div class="col-12">
									<div class="text">
										<strong class="title">FURNITURE DESIGNS IDEAS</strong>
										<h1>CARDBOARD</h1>
										<h2> Sofas and Armchairs</h2>
										<div class="txt">
											<p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
										</div>
										<a href="product-detail.html" class="shop">shop now</a>
									</div>
								</div> %>
							</div>
						</div>
					</div>
					<!-- holder end here -->
				</div>
				<!-- slider regular end here -->
			</div><!-- mt main slider end here -->
			<!-- mt main start here -->
			<main id="mt-main">
				<!-- product start here -->
				<div id="product-masonry">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<ul id="product-filter">
									<li class="active"><a data-filter="all">AlL</a></li>
									<li><a data-filter="1">SoFaS</a></li>
									<li><a data-filter="2">ChAIrS</a></li>
									<li><a data-filter="3">aRmCHaIR</a></li>
									<li class="left"><a href="#" id="product-shuffle"><i class="fa fa-random" aria-hidden="true"></i> shuffle</a></li>
								</ul>
								<ul class="masonry-list">
									<li class="filtr-item fil1" data-category="1">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="mt-stars">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">111-Bombi Chair</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="2">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">222-Marvelous Modern 3 Seater</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>599,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="3">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">333-Puff  Armchair</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="1">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">Poltroncina Genny</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="2">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
												<span class="caption">
													<span class="best-price">Best Price</span>
												</span>
												<ul class="mt-stars">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">Plug 2001 Chair</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="3">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">Paddock Armchair</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>599,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="1">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">Torres Clave</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="2">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">Pan Armchair</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="3">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">Munich Armchair</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="2">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
												<span class="caption"><span class="new">NEW</span></span>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">Munich Armchair</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="3">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">Puff  Armchair</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
									<li class="filtr-item fil1" data-category="3">
										<!-- mt product start here -->
										<div class="mt-product1 large">
											<!-- box start here -->
											<div class="box">
												<img alt="image description" src="http://placehold.it/250x260">
												<ul class="links">
													<li><a href="#"><i class="icon-handbag"></i></a></li>
													<li><a href="#"><i class="icon-heart"></i></a></li>
													<li><a href="#popup1" class="lightbox"><i class="fa fa-eye"></i></a></li> 
												</ul>
											</div><!-- box end here -->
											<!-- txt end here -->
											<div class="txt">
												<strong class="title">Bombi Chair</strong>
												<span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
											</div><!-- txt end here -->
										</div><!-- mt product1 end here -->
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- product end here -->
			</main><!-- mt main end here -->
		</div><!-- W1 end here -->
		<%# <span id="back-top" class="fa fa-arrow-up"></span> %>
	</div>
	<!-- include jQuery -->

</body>
</html>